{% extends 'main/base/base.html' %}

{% load static %}

{% block site_css %}
    <link rel="stylesheet" href="{% static 'authentication/styles/authentication.css' %}" />
{% endblock %}

{% block main_heading %}Fantasy Basketball Sign Up Page{% endblock %}

{% block body %}
<p>Welcome to the Sign In Page</p>

{{ fname }}

<form action="{% url 'signin' %}" method="POST">
    {% csrf_token %}
    <label for="">Username</label>
    <input type="text" id="username" name="username" placeholder="Enter your username" Required>
    <br>

    <label for="">Password</label>
    <input type="password" id="pass1" name="pass1" placeholder="Enter your password" Required>
    <br>

    <button type="submit">Sign In</button>
</form>

{% endblock %}