{% extends 'main/base/base.html' %}

{% load static %}

{% block site_css %}
    <link rel="stylesheet" href="{% static 'styles/players.css' %}" />
{% endblock %}

{% block main_heading %}Fantasy Basketball Players{% endblock %}

{% block body %}
    <h2 class="player_body_header">Welcome to the players page</h2>

    <form method="POST" id="filterTable">
        {% csrf_token %}
        <input type="checkbox" id="ppgCheck" value="pointZ" name="categories" checked>
        <label for="ppgCheck">Ppg</label>

        <input type="checkbox" id="apgCheck" value="assistZ" name="categories" checked>
        <label for="apgCheck">Apg</label>

        <input type="checkbox" id="rpgCheck" value="reboundZ" name="categories" checked>
        <label for="rpgCheck">Rpg</label>

        <input type="checkbox" id="spgCheck" value="stealZ" name="categories" checked>
        <label for="spgCheck">Spg</label>

        <input type="checkbox" id="bpgCheck" value="blockZ" name="categories" checked>
        <label for="bpgCheck">Bpg</label>

        <input type="checkbox" id="topgCheck" value="turnoverZ" name="categories" checked>
        <label for="topgCheck">Topg</label>

        <input type="checkbox" id="fg%Check" value="fgZ" name="categories" checked>
        <label for="fg%Check">Fg%</label>

        <input type="checkbox" id="ft%Check" value="ftZ" name="categories" checked>
        <label for="ft%Check">Ft%</label>

        <input type="checkbox" id="3sCheck" value="threeZ" name="categories" checked>
        <label for="3sCheck">3s</label>

        <button type="submit" class="btn btn-info">Submit</button>
    </form>

    {{ df21final|safe }}
{% endblock %}