<!-- Load static files such as css, js, images-->
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Fantasy Basketball{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'styles/base.css' %}" />
    {% block site_css %}{% endblock %}
  </head>

  <body>
    <header id="main-header">
      <h1>{% block main_heading %}{%endblock %}</h1>
      {% block header_content %}
       {% with request.resolver_match.url_name as url_name %}
          <div class="topnav">
            <a class="{% if url_name == 'main' %}active{% endif %}" href="/">Home</a>
            <a class="{% if url_name == 'players' %}active{% endif %}" href="/players" id="players-button">Players</a>
            <a class="{% if url_name == 'teams' %}active{% endif %}" href="/teams">Teams</a>
          </div>
        {% endwith %}
      {% endblock %}
    </header>

    <main>{% block body %}{% endblock %}</main>
  </body>
</html>