{% extends 'main/base/base.html' %}

{% load static %}

{% block site_css %}
<link rel="stylesheet" href="{% static 'main/styles/home.css' %}" />
{% endblock  %}

{% block main_heading %}Fantasy Basketball Home{% endblock  %}

{% block body %}
    <h2 class="home_body_header">Welcome to the fantasy basketball homepage!!</h2>
    <p>Visit the players section to view analytics on the top fantasy basketball performers</p>

    {% for message in messages%}
        <div class="alert alert-{{ message.tags }} alert-dismissable fade show" role="alert">
        <strong>{{ message }}</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
        </div>
    {% endfor %}
    
    {{ df_compare_final|safe }}
    <!-- {{ df21finalNorm|safe }}
    <h2>BREAK</h2>
    {{ df20finalNorm|safe }} -->
{% endblock  %}
